.num0{
    display: flex;
    justify-content: space-evenly;
}
.num3{
    background-color: red;
    display: flex;
    justify-content: center;
}
.num4{
    background-color: yellow;
    display:flex;
    justify-content: end;
}
.num1{
    background-color: aqua;
}
.num2{
    background-color: blue;
}